@model IEnumerable<FanGuide.Models.Trainer>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (ViewBag.User is not null)
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<form asp-action="Index" method="post">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Trainer name</span>
        </div>
        <input type="text" class="form-control" aria-label="Default" value="@ViewBag.Name" name="name" aria-describedby="inputGroup-sizing-default">
        <div class="input-group-prepend ml-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Trainer surname</span>
        </div>
        <input type="text" class="form-control" aria-label="Default" value="@ViewBag.Surname" name="surname" aria-describedby="inputGroup-sizing-default">
        <div class="input-group-prepend ml-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Team name</span>
        </div>
        <input type="text" class="form-control" aria-label="Default" value="@ViewBag.TeamName" name="teamName" aria-describedby="inputGroup-sizing-default">
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Trainer age from</span>
        </div>
        <input type="number" class="form-control" aria-label="Default" value="@ViewBag.AgeFrom" name="ageFrom" aria-describedby="inputGroup-sizing-default">
        <div class="input-group-prepend ml-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Trainer age to</span>
        </div>
        <input type="number" class="form-control" aria-label="Default" value="@ViewBag.AgeTo" name="ageTo" aria-describedby="inputGroup-sizing-default">
        <div class="input-group-prepend ml-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Sorting</span>
        </div>
        <select class="custom-select" name="sort" id="inputGroupSelect01" asp-items="@ViewBag.Sort"></select>
    </div>

    <div class="input-group mb-3">
        <input type="submit" value="Search" class="btn btn-primary" />
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Team)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Team.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    @if (ViewBag.User is not null)
                    {
                        @:|
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> @: |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
